* {
    -fx-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.root {
    -primary-color:  #0095C8;
    -secondary-color: grey;
    -fx-background-color: white;
}

.mfx-text-field {
    -fx-font-size: 14px;
}

.delete-button {
    -fx-background-color: #FF3C3CFF
}

.menu-bar {
    -fx-background-color: #F5F1F9;
}

.context-menu {
    -fx-background-color: white;
    -fx-border-width: 0px;
    -fx-border-color: white;
}

.jfx-text-field, .jfx-password-field, .jfx-combo-box,
.jfx-check-box, .panel-title, .jfx-radio-button {
    -fx-font-size: 14px;
}

.panel {
    -fx-background-color: white;
    -fx-border-color: #0095C8;
}

.panel .panel-heading {
    -fx-background-color: #0095C8;
    -fx-background-radius: 4px;
    -fx-border-color: #0095C8;
}

.name-label {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.username-label {
    -fx-font-size: 16px;
}

.hyperlink {
    -fx-text-fill: -primary-color;
    -fx-font-size: 14px;
    -fx-padding: 0;
    -fx-underline: false;
    -fx-focus-traversal-enabled: false;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.table-view {
    -fx-font-size: 14px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: #EDEDED;
}

.table-row-cell {
    -fx-min-height: 30;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
}

.table-view .table-row-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.table-view:focused .table-row-cell:selected .table-cell {
    -fx-background-color: #EDEDED;
    -fx-text-fill: black;
    -fx-border-color: #EDEDED;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: white;
    -fx-text-fill: black;
}




.combo-box {
    -fx-font-size: 14px;
    -fx-focus-color: -primary-color;
    -fx-background-color: white;
    -fx-border-color: #D6D6D6;
    -fx-border-radius: 5px;
}

.list-cell {
    -fx-background-radius: 5px;
}

/*
.list-cell:hover {
    -fx-background-color: -primary-color;
    -fx-text-fill: black;
}
*/

/*.list-cell:selected .combo-box {
    -fx-background-color: white;
}*/

.list-view .list-cell:selected {
    -fx-background-color: #EDEDED;
    -fx-text-fill: black;
}

.list-view .list-cell:hover {
    -fx-background-color: #EDEDED;
    -fx-text-fill: black;
}

.combo-box .list-view {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-effect: none;
    -fx-background-color: white;
    -fx-border-color: #D6D6D6;
}

.combo-box .combo-popup {
    -fx-margin-top: 2px;
}

.mfx-button {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

.mfx-button:hover {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #F2F2F2;
    -fx-font-size: 14px;
}

.background-radius {
    -fx-background-radius: 20px;
}
